doctype 5
html
  head
    title bidwars.net
    link(rel='stylesheet', href='/v2/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/v2/stylesheets/chat.css')
  body
    block content

  script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js')
  script(type='text/javascript',src='/v2/socket.io/socket.io.js')
  script(type='text/javascript',src='/v2/javascripts/chat.js')

