extends ../layout

block content
  div#chat
    div#stats
    div#msgs
    div#ctrl
      form(action='#')
        input#msg.input(type='text', 
          autocomplete='off', 
          value='Write a message...', 
          onclick='if(this.value=="Write a message...") this.value="";')
        input.btn.btn-primary(type='submit', value='Send')



